<template>
  <svg
    width="159"
    height="135"
    viewBox="0 0 159 135"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M5.5 57L2 53.5L5.5 50"
      stroke="#5B41BB"
      stroke-width="2"
      stroke-linecap="round"
    />
    <g filter="url(#filter0_d)">
      <rect x="46" y="16" width="68" height="95" rx="10" fill="#5B41BB" />
    </g>
    <path
      d="M39.5 62.5V62.5C28.6732 56.5945 16.5377 53.5 4.20505 53.5H2"
      stroke="#5B41BB"
      stroke-width="2"
      stroke-linecap="round"
    />
    <path
      d="M120 62.5V62.5C130.827 56.5945 142.962 53.5 155.295 53.5H157.5"
      stroke="#5B41BB"
      stroke-width="2"
      stroke-linecap="round"
    />
    <path
      d="M154 57L157.5 53.5L154 50"
      stroke="#5B41BB"
      stroke-width="2"
      stroke-linecap="round"
    />
    <path
      d="M69.9007 49.8155C69.9287 49.9413 70.0055 50.0508 70.1142 50.12C70.2229 50.1893 70.3546 50.2125 70.4805 50.1846L75.5227 49.0678C75.585 49.054 75.6439 49.0281 75.6962 48.9915C75.7484 48.9549 75.793 48.9084 75.8273 48.8546C75.8616 48.8008 75.8849 48.7408 75.896 48.678C75.9071 48.6152 75.9057 48.5508 75.8919 48.4885L75.6817 47.5397C75.6679 47.4774 75.642 47.4184 75.6054 47.3662C75.5688 47.3139 75.5223 47.2694 75.4685 47.2351C75.4147 47.2008 75.3547 47.1774 75.2919 47.1663C75.229 47.1553 75.1647 47.1567 75.1024 47.1705L72.6679 47.7098C73.5061 46.5771 74.5982 45.6566 75.8565 45.0222C77.1147 44.3879 78.5042 44.0573 79.9134 44.0572C81.3225 44.057 82.7121 44.3872 83.9705 45.0212C85.229 45.6552 86.3213 46.5754 87.1597 47.708L84.7336 47.1705C84.6713 47.1567 84.6069 47.1553 84.5441 47.1663C84.4812 47.1774 84.4212 47.2008 84.3674 47.2351C84.3136 47.2694 84.2671 47.3139 84.2305 47.3662C84.1939 47.4184 84.168 47.4774 84.1542 47.5397L83.944 48.4885C83.9302 48.5508 83.9288 48.6151 83.9399 48.678C83.951 48.7408 83.9743 48.8008 84.0086 48.8546C84.0429 48.9084 84.0875 48.9549 84.1397 48.9915C84.192 49.0281 84.2509 49.054 84.3132 49.0678L89.3555 50.1846C89.4813 50.2125 89.613 50.1892 89.7217 50.12C89.8305 50.0508 89.9072 49.9413 89.9353 49.8155L91.0559 44.778C91.0839 44.6523 91.0608 44.5205 90.9916 44.4118C90.9225 44.3031 90.813 44.2263 90.6872 44.1983L89.7389 43.9872C89.6767 43.9733 89.6123 43.9719 89.5494 43.9829C89.4866 43.9939 89.4266 44.0172 89.3727 44.0515C89.3189 44.0857 89.2723 44.1302 89.2357 44.1824C89.1991 44.2347 89.1731 44.2936 89.1592 44.3559L88.6817 46.5018C87.6621 45.1402 86.3395 44.0348 84.8185 43.2732C83.2975 42.5115 81.62 42.1147 79.9189 42.114C78.2179 42.1134 76.5401 42.5089 75.0185 43.2694C73.4969 44.0298 72.1734 45.1342 71.1528 46.4951L70.6767 44.3559C70.6629 44.2936 70.6369 44.2347 70.6002 44.1824C70.5636 44.1302 70.517 44.0857 70.4632 44.0515C70.4094 44.0172 70.3493 43.9939 70.2865 43.9829C70.2237 43.9719 70.1593 43.9734 70.097 43.9872L69.1487 44.1983C69.0229 44.2263 68.9134 44.3031 68.8443 44.4119C68.7752 44.5206 68.752 44.6523 68.78 44.7781L69.9007 49.8155Z"
      fill="white"
    />
    <path
      d="M68.8168 70.516C69.4273 70.4084 70.0503 70.3902 70.6661 70.4621C71.9129 71.0567 72.9865 71.961 73.7843 73.0887C75.1783 75.1733 76.8774 76.4569 79.0973 77.7058C79.3496 77.8596 79.5568 78.0774 79.6978 78.337C79.8388 78.5967 79.9087 78.8891 79.9003 79.1844C79.9039 79.4456 80.0103 79.6948 80.1962 79.8782C80.3822 80.0616 80.6329 80.1644 80.8941 80.1644H89.2674C89.531 80.1644 89.7839 80.0597 89.9703 79.8733C90.1567 79.6869 90.2614 79.4341 90.2614 79.1705V77.6302C90.2614 75.8589 91.5989 74.2177 91.9429 72.2793C92.3792 69.9254 92.2544 67.5019 91.5786 65.2052C91.3113 64.2587 90.8508 63.4945 90.0372 63.4945H89.7033C89.3172 63.4899 88.9452 63.6389 88.6689 63.9085C88.3927 64.1782 88.2348 64.5466 88.2301 64.9326V63.7082C88.2254 63.3222 88.0676 62.9539 87.7913 62.6842C87.5151 62.4145 87.143 62.2656 86.757 62.2702H86.423C86.037 62.2656 85.665 62.4145 85.3887 62.6842C85.1125 62.9538 84.9546 63.3222 84.9499 63.7082V62.7064C84.9452 62.3204 84.7874 61.952 84.5111 61.6824C84.2349 61.4127 83.8628 61.2638 83.4768 61.2684H83.1428C82.8173 61.2547 82.4972 61.3544 82.237 61.5505C81.9769 61.7466 81.7929 62.0269 81.7164 62.3436C81.7675 60.3054 81.7365 56.6141 81.6858 54.084C81.6762 53.6221 81.4865 53.1823 81.1572 52.8582C80.8279 52.5341 80.3851 52.3514 79.923 52.3491C79.461 52.3468 79.0164 52.5251 78.6839 52.8459C78.3514 53.1666 78.1573 53.6046 78.143 54.0664C78.0361 57.6236 77.9426 63.4041 78.0863 67.2249C78.2041 70.3594 77.1086 69.283 76.4486 68.7928C74.9513 67.8434 74.4916 67.2628 72.505 67.1045C71.3218 67.0242 70.1399 67.2788 69.0947 67.8393C68.8256 67.9745 68.5935 68.1731 68.4182 68.418C68.2429 68.6628 68.1298 68.9466 68.0886 69.2449C68.035 69.765 68.2338 70.3938 68.8168 70.516Z"
      fill="white"
    />
    <defs>
      <filter
        id="filter0_d"
        x="26"
        y="0"
        width="108"
        height="135"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
        />
        <feOffset dy="4" />
        <feGaussianBlur stdDeviation="10" />
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"
        />
        <feBlend
          mode="normal"
          in2="BackgroundImageFix"
          result="effect1_dropShadow"
        />
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect1_dropShadow"
          result="shape"
        />
      </filter>
    </defs>
  </svg>
</template>

<script>
export default {
  name: 'SwipeIcon'
}
</script>
