@import "variables";

@font-face {
  font-family: 'Avenir';
  src: url('~assets/fonts/Avenir/AvenirLTStd-Roman.woff');
}

@font-face {
  font-family: 'Avenir LT Std';
  src: url('~assets/fonts/Avenir_ff/AvenirLTStd-Black.otf');
}

@font-face {
  font-family: 'QuatroBold';
  src: url('~assets/fonts/quatro_bold/dda013312f72e26a4bcc7df56fb8ce29.eot');
  /* IE9*/
  src: url('~assets/fonts/quatro_bold/dda013312f72e26a4bcc7df56fb8ce29.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('~assets/fonts/quatro_bold/dda013312f72e26a4bcc7df56fb8ce29.woff2')
      format('woff2'),
    /* chrome、firefox */
      url('~assets/fonts/quatro_bold/dda013312f72e26a4bcc7df56fb8ce29.woff')
      format('woff'),
    /* chrome、firefox */
      url('~assets/fonts/quatro_bold/dda013312f72e26a4bcc7df56fb8ce29.ttf')
      format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('~assets/fonts/quatro_bold/dda013312f72e26a4bcc7df56fb8ce29.svg#QuatroBold')
      format('svg');
  /* iOS 4.1- */
}

@font-face {
  font-family: 'Quatro';
  src: url('~assets/fonts/quatro_regular/17ae0aa7804ff40b20696df1008501d7.eot');
  /* IE9*/
  src: url('~assets/fonts/quatro_regular/17ae0aa7804ff40b20696df1008501d7.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('~assets/fonts/quatro_regular/17ae0aa7804ff40b20696df1008501d7.woff2')
      format('woff2'),
    /* chrome、firefox */
      url('~assets/fonts/quatro_regular/17ae0aa7804ff40b20696df1008501d7.woff')
      format('woff'),
    /* chrome、firefox */
      url('~assets/fonts/quatro_regular/17ae0aa7804ff40b20696df1008501d7.ttf')
      format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('~assets/fonts/quatro_regular/17ae0aa7804ff40b20696df1008501d7.svg#Quatro');
}

@font-face {
  font-family: 'QuatroLight';
  src: url('~assets/fonts/quatro_light/969b2305b96bde01825b0b368bc2c181.eot');
  /* IE9*/
  src: url('~assets/fonts/quatro_light/969b2305b96bde01825b0b368bc2c181.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('~assets/fonts/quatro_light/969b2305b96bde01825b0b368bc2c181.woff2')
      format('woff2'),
    /* chrome、firefox */
      url('~assets/fonts/quatro_light/969b2305b96bde01825b0b368bc2c181.woff')
      format('woff'),
    /* chrome、firefox */
      url('~assets/fonts/quatro_light/969b2305b96bde01825b0b368bc2c181.ttf')
      format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('~assets/fonts/quatro_light/969b2305b96bde01825b0b368bc2c181.svg#QuatroLight')
      format('svg');
  /* iOS 4.1- */
}

#app {
  font-family: Avenir, sans-serif;
  background: white;
}

.theme--light.v-application {
  background-color: #fff;
}


/* light theme styles */
.theme--light.v-btn {
  background: $secondary-color !important;
  &[disabled] {
    opacity: 0.6;
  }
  box-shadow: none;
  color: white !important;

  &:hover {
    // background: #ffb92d !important;
  }
}

.theme--light.v-btn.v-btn--flat,
.theme--light.v-btn.v-btn--outlined {
  background: transparent !important;
  color: $primary-color !important;
}

.theme--light.v-btn.white--text {
  color: white !important;
}

/* dark theme styles */
.theme--dark.v-btn {
  padding: 11px 24px !important;
  color: $btn-default-color !important;
  font-family: Avenir LT Std;

  &:hover {
    background-color: $btn-hover-background !important;
  }
  &:focus {
    background-color: $btn-focus-background !important;
  }
  &.v-btn--disabled:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
    background-color: $btn-disabled-background !important;
  }
}

.theme--dark.v-btn.btn-default-bg {
  background-color: $btn-default-background !important;
}

.theme--dark.v-btn.v-btn--flat,
.theme--dark.v-btn.v-btn--outlined {
  background: transparent !important;
  color: $primary-color;
}

/* Pink modal background */
.v-overlay.v-overlay--active {
  .v-overlay__scrim {
    opacity: 0.46 !important;
    background-color: #ecd9f7 !important;
    border-color: #707070 !important;
  }
}

/* v-list dropdowns */
.v-list {
  a {
    text-decoration: none;
  }
  .v-list-item {
    .v-list-item__title i.v-icon {
      vertical-align: baseline;
      padding-right: 4px;
    }

    &:hover {
      background: $color-insanely-crazy-light-greyish-purple;

      .v-list-item__title {
        color: $primary-color;

        i.v-icon {
          padding-right: 8px;
          color: $primary-color;
        }
      }
    }
  }
}

@mixin page-title {
  color: $primary-color;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin: 2rem auto;
}

@mixin section-heading {
  color: $secondary-color;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 1rem;
}

h1.page-title {
  margin: 2rem auto;
  @include page-title;
}

h2.section-heading {
  @include section-heading;
}

section.page-section {
  margin-bottom: 4rem;
}

